@font-face {
	font-family: agency;
	src: url('agencyfb_reg.ttf');
}

@font-face {
	font-family: agency;
	src: url('agencyfb_bold.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.bodySection {
	margin: 0;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

#splash {
	background-color: black;
	background-image: url('sumo-thumb-cover-2.png');
	height: 50vw;
	background-size: cover;
	background-position: center;
}

#about {
/*	background-color: yellow;*/
	flex-flow: row-reverse;
	flex-grow: 1;
}

#order {
/*	background-color: green;*/
}

.subSection {
	width: 50%;
/*	height: 100%;*/
	flex-grow: 1;
	display: flex;
	padding: 4vmin;
	gap: 2vmin;
	position: relative;
	align-items: stretch;
}

#aboutImageDiv {
/*	width: 100%;*/
/*	height: 100%;*/
	margin: 4vmin;
	border-radius: 4vmin;
	border-style: solid;
	border-color: #ffca14;
	border-width: 1vmin;
	background-image: url('splashpic.jpg');
	background-size: cover;
	background-position: center;
	align-items: stretch;
	padding: 0;
}

#aboutImage {
	margin: 4vmin;
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: 50%, 100%;

}

/*.aboutImages:hover {
	background-image: url('headshot.jpg');
}*/

#aboutSub {
/*	background-color: white;*/
/*	border-style: solid;*/
/*	border-color: black;*/
	padding-left: 2vmin;
	border-width: 1vmin;
	flex-flow: column;
	align-items: center;
}

#matty {
}

#orderSub {
/*	background-color: white;*/
/*	border-style: solid;*/
/*	border-color: black;*/
	flex-grow: 1;
	width: 100%;
	border-width: 1vmin;
	flex-flow: column;
	align-items: center;
}

#igPlug {
	width: 100%;
	flex-flow: column;
	align-items: center;
}

#form {
/*	width: 100%;*/
	height: 100%; 
/*	frameborder: 0;*/
/*	marginheight: 0;*/
/*	marginwidth: 0;*/
}

.subHeader {
	width: 100%;
	background-color: #ffca14;
	font-family: agency;
	font-weight: bold;
/*	-webkit-text-stroke-width: 1px;*/
/*    -webkit-text-stroke-color: white;*/
	border-radius: 3vmin;
/*	border-style: solid;*/
/*	border-color: black;*/
/*	border-width: 1vmin;*/
	text-align: center;
}

.subHeader > h2 {
	margin: 0;
	font-size: 10vmin;
}

.subPara {
	width: 100%;
	flex-grow: 1;
/*	background-color: blue;*/
	border-radius: 4vmin;
	border-style: solid;
	border-color: #ffca14;
	border-width: 1vmin;
	display: flex;
	flex-flow: column;
	padding: 3vmin;
	font-size: 2.85vmin;
	font-family: agency;
	font-weight: normal;
	gap: 2vmin;
}

#matty {
	justify-content: center;
}

#history {
	justify-content: space-between;
}

.subPara > p {
	margin: 0;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height:	80px;
	background-color: red;
}

.title {
	position: absolute;

}

@media screen and (max-width: 640px) {
	#about {
		flex-flow: column;
/*		flex-grow: 1;*/
	}

	#order {
		flex-flow: column;
	}

	.subSection {
		width: 100%;
	}

	#aboutImageDiv {
		margin: 0;
		margin-left: 4vmin;
		margin-right: 4vmin;
		width: 92vmin;
		height: 92vmin;
	}

	#aboutSub {
		padding-left: 4vmin;
		padding-bottom: 2vmin;
	}

	#form {
		height: 125vmin;
	}
}