@font-face {
	font-family: agency;
	src: url('agencyfb_reg.ttf');
}

@font-face {
	font-family: agency;
	src: url('agencyfb_bold.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.bodySection {
	margin: 0;
	height: 50vw;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: flex-start;
}

#splash {
	background-color: black;
	background-image: url('sumo-thumb-cover-2.png');

	background-size: cover;
	background-position: center;
}

#about {
/*	background-color: yellow;*/
	flex-flow: row-reverse;
}

#order {
/*	background-color: green;*/
}

.subSection {
	width: 50%;
	height: 100%;
	display: flex;
	padding: 4vmin;
	gap: 2vmin;
}

.aboutImages {
	width: 100%;
	border-radius: 4vmin;
	border-style: solid;
	border-color: #ffca14;
	border-width: 1vmin;
	background-image: url('splashpic.jpg');
	background-size: cover;
	background-position: center;
}

#aboutSub {
/*	background-color: white;*/
/*	border-style: solid;*/
/*	border-color: black;*/
	padding-left: 2vmin;
	border-width: 1vmin;
	flex-flow: column;
	align-items: center;
}

#orderSub {
/*	background-color: white;*/
/*	border-style: solid;*/
/*	border-color: black;*/
	flex-grow: 1;
	width: 100%;
	border-width: 1vmin;
	flex-flow: column;
	align-items: center;
}

#igPlug {
	width: 100%;
}

#form {
	padding: 2vmin;
	width: 100%;
}

.subHeader {
	width: 100%;
	background-color: #ffca14;
	font-family: agency;
	font-weight: bold;
/*	-webkit-text-stroke-width: 1px;*/
/*    -webkit-text-stroke-color: white;*/
	border-radius: 3vmin;
/*	border-style: solid;*/
/*	border-color: black;*/
/*	border-width: 1vmin;*/
	text-align: center;
}

.subHeader > h2 {
	margin: 0;
	font-size: 10vmin;
}

.subPara {
	width: 100%;
	flex-grow: 1;
/*	background-color: blue;*/
	border-radius: 4vmin;
	border-style: solid;
	border-color: #ffca14;
	border-width: 1vmin;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height:	80px;
	background-color: red;
}

.title {
	position: absolute;

}